[submodule "rinari"]
	path = rinari
	url = git://github.com/eschulte/rinari.git
[submodule "rhtml"]
	path = rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule "gpicker"]
	path = gpicker
	url = git://git.savannah.nongnu.org/gpicker.git
[submodule "yasnippets-rails"]
	path = yasnippets-rails
	url = git://github.com/eschulte/yasnippets-rails.git
[submodule "rails-minor-mode"]
	path = rails-minor-mode
	url = git://github.com/remvee/emacs-rails.git
